src/test/resources/ambari-config.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="configuration" >
		<xs:complexType>
			<xs:sequence>
	  			<xs:element name="property" maxOccurs="unbounded">
	  				<xs:complexType>
		  				<xs:sequence>
				    		<xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1" />
				    		<xs:element name="value" type="xs:string" minOccurs="1" maxOccurs="1" />
				    		<xs:element name="description" type="xs:string" minOccurs="0" />
			    		</xs:sequence>
		    		</xs:complexType>
	  			</xs:element>
  			</xs:sequence>
  		</xs:complexType>
    </xs:element>
</xs:schema>